body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}
h1, #excusa {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2em; /* Ajustar el tamaño de la excusa al mismo tamaño que el título */
}